.articleTitle {
  font-family: 'Nunito Sans';
  font-weight: 800;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: .01em;
  width: 70%;
  text-align: center;
}

.articleContent {
  text-align: center;
}

@media (max-width: 675px) {
  .articleTitle {
    font-weight: 700;
    font-size: 33px;
    line-height: 100%;
  }

  .articleContent {
    font-size: 13px;
  }
}

@media (max-width: 479px) {
  .articleTitle {
    font-weight: 700;
    font-size: 27px;
  }
}

.articleTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .p {
    white-space: pre-line;
  }
}

@media (max-width: 675px) {
  .articleTitleWrapper {
    max-height: 70px;
    align-items: center;
  }
}


.articleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

@media (max-width: 675px) {
  .articleWrapper {
    gap: 20px;
    margin-bottom: 40px;
  }
}

.decorationBlockLeft {
  position: relative;
  width: 100px;
  height: 100px;
}

.decorationBlockLeft:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-left: 25px solid #cce25a;
  border-right: 25px solid rgba(151, 239, 71, 0);
  border-top: 25px solid #cce25a;
  border-bottom: 25px solid rgba(151, 239, 71, 0);
  -moz-border-radius: 50px 50px 50px 50px;
  border-radius: 50px 50px 50px 50px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 675px) {
  .decorationBlockLeft {
    width: 45px;
    height: 70px;
  }

  .decorationBlockLeft:after {
    width: 70px;
    height: 70px;
    border-left: 17px solid #cce25a;
    border-right: 17px solid rgba(151, 239, 71, 0);
    border-top: 17px solid #cce25a;
    border-bottom: 17px solid rgba(151, 239, 71, 0);
  }
}

.decorationBlockRight {
  position: relative;
  width: 100px;
  height: 100px;
}

.decorationBlockRight:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-left: 25px solid rgba(213, 223, 42, 0);
  border-right: 25px solid #cce25a;
  border-top: 25px solid rgba(213, 223, 42, 0);
  border-bottom: 25px solid #cce25a;
  -moz-border-radius: 50px 50px 50px 50px;
  border-radius: 50px 50px 50px 50px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 675px) {
  .decorationBlockRight {
    width: 45px;
    height: 70px;
  }
  .decorationBlockRight:after {
    width: 70px;
    height: 70px;
    border-left: 17px solid rgba(213, 223, 42, 0);
    border-right: 17px solid #cce25a;
    border-top: 17px solid rgba(213, 223, 42, 0);
    border-bottom: 17px solid #cce25a;
  }
}