.loginWindowWrapper {
  min-height: 200px;
  width: 400px;
  padding: 10px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

@media (max-width: 679px) {
  .loginWindowWrapper {
    width: fit-content;
    max-width: 400px;
  }
}

.buttonsBlock {
  display: flex;
  flex-direction: row;
  gap: 10px;
}