.footer {
  background-color: #f1f7ee;
  min-height: 200px;
  padding: 30px 0;
}

.footerContainer {
  max-width: 1057px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.footerBody {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Nunito Sans';
}

.informationBlockWrapper {
}

.companyInformation {
  p {
  }
}

.footerLink {
}

.buttonsBlock {
}

.brandLogoRing {
}

.brandLogoNoRing {
}