.userIconBody {
  position: relative;
}

.userIconImage {
  height: 35px;
  border: 1px solid #67910d;
  border-radius: 100%;
  cursor: pointer;
  opacity: 1;
  transition: .5s;
  &:hover {
    opacity: 0.8;
  }
}

.windowWrapper {
  position: absolute;
  top: 50px;
  right: 0;
  min-width: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  -webkit-box-shadow: 0 5px 15px 4px rgba(0,0,0,0.3);
  box-shadow: 0 5px 15px 4px rgba(0,0,0,0.3);
  opacity:0;
  transition: .5s;
  pointer-events: none;
  &.active {
    opacity:1;
  }
}